.wrapper {
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: 200px 60px 345px 60px 30px;
    grid-gap: 3px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
     font-family: 'Schoolbell', cursive;
     background-color: #70D1FE;
     font-size: 18px;
}
.general-button {
    width: 140px;
    height: 25px;
    font-size: 15px;
    font-family: 'Schoolbell', cursive;
    text-align: center;
}

header {
    grid-column: span 3; 
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-image: url(http://getwallpapers.com/wallpaper/full/d/2/1/622543.jpg);
    background-size: cover; 
    background-position: 10% 45%;
    background-repeat: no-repeat;

}

.trivia-controls {
    width: 600px;
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* #timer-box {
    grid-column: span 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
} */

.questionLayout {
    border: 1px solid black;
    grid-column: span 2;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    background-color:  #FFFFFF;
}

#questionDescription {
    width: 600px;
    /* border: 1px solid black; */
}

.questionLayout hr {
    width: 600px;
    text-align: left;
}

#questionAnswers {
    height: 180px;
    width: 600px;
}

#questionAnswers li {
    margin-top: 10px; 
    list-style-type: none;
}

#questionAnswers li a {
    text-decoration: none;
}

.questionSelected {
    color: blue;
    font-weight: bold;
}

/* .questionUnselected {
    color: black;
    font-weight: normal; 
} */

#questionImageCanvas {
    width: 250px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionImage {
    width: 240px;
    height: 215px;
    object-fit: contain; 
    border-radius: 20px;
    padding: 10px;
}


#response-feedback {
    border: 1px solid black;
    grid-column: span 1;
    padding: 0 0; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center;  */
    background-image: url(http://getwallpapers.com/wallpaper/full/8/e/9/1413724-simpsons-wallpaper-1080x1920-for-android.jpg);
    background-size: contain; 
    background-position: 100%;
    background-repeat: no-repeat;
    background-color:#18F6FF;
}

#response-header {
    margin-top: 2px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#response-comment {
    margin-top: 2px;
    font-size: 20px;
    padding-left: 5px;
}

#response-score {
    padding-left: 0px;
}

/* #response-img {
    width: 200px;
    height: 180px;
    object-fit: fill; 
    border: 1px solid black;
} */

/* #response-feedback h4 {
    margin-top: 5px;
    margin-left: 10px;
} */

/* #review-later-log ul {
    border: 2px solid black;
    margin-top: -5px;
} */

/* #review-later-log hr {
    margin-top: -20px;
} */

nav {
    grid-column: span 3;
}

#go-next-button {
    margin-left: 580px;
}

#get-rank-button {
    margin-left: 630px;
}

footer{
    background-color: #FED90F;
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #424F46;
}

footer p{
    margin-top: 2px;
}